<%- include("partials/header") %>
    <div class="adminTitle">Administrator Panel</div>

    <a href="/admin/manage-users"><div class="manage-users admin-link">Manage Users</div></a>

    <a href="/admin/manage-administrators"><div class="manage-administrators admin-link">Manage Administrators</div></a>

    <a href="/admin/manage-quizzes"><div class="manage-quizzes admin-link">Manage Quizzes</div></a>

    <script src="/JS/admin.min.js" type="module"></script>
<%- include("partials/footer") %>