<%- include("partials/header") %>
<div class="form">
    <input type="email" id="emailbox" class="form-inp" placeholder="Email"> <br>
    <input type="password" id="passwordbox" class="form-inp" placeholder="Password"> <br>
    <input type="checkbox" id="showpassword">
    <label for="showpassword">Show Password</label> <br><br>
    Don't have an account? <a href="/signup">Sign Up</a> <br><br>
    <button type="submit" class="loginbtn">Login</button>
</div>
<script src="/JS/login.min.js" type="module"></script>
<%- include("partials/footer") %>   