<%- include("partials/header") %>
<div class="addAdmin">
    <div class="title">Add a new admin:- </div>
    <div class="content" id="addAdminForm">
        <input type="text" class="form-inp" id="nameInp" placeholder="Name" autocomplete="off">
        <input type="email" class="form-inp" id="emailInp" placeholder="Email" autocomplete="off"> <br><br>
        <button id="addAdminBtn">Add</button>
    </div>
</div>
<div class="deleteAdmin">
    <div class="title">Delete an existing admin:- </div>
    <div class="content" id="form">
        <input type="email" class="form-inp" id="delAdminEmailInp" placeholder="Email" autocomplete="off"> <br><br>
        <button id="delaccbtn">Delete</button>
    </div>
</div>
<div class="listOfAdmins">
    <div class="title">List of Admins:- </div>
    <div class="content" id="adminsListContainer"></div>
</div>
<script src="/JS/admin.js" type="module"></script>
<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.3/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.8.3/firebase-analytics.js";
    import { doc, setDoc, deleteDoc, getFirestore, getDocs, collection } from "https://www.gstatic.com/firebasejs/9.8.3/firebase-firestore.js";
    
    const firebaseConfig = {
        apiKey: "AIzaSyBz1kOpHGbECrAVDQAQN217ycfbM0VjC20",
        authDomain: "english-quizzz.firebaseapp.com",
        projectId: "english-quizzz",
        storageBucket: "english-quizzz.appspot.com",
        messagingSenderId: "531636974687",
        appId: "1:531636974687:web:987866ab854ddf5f9597ea",
        measurementId: "G-0GCR06880E"
    };
    
    let adminsListContainer = document.getElementById("adminsListContainer");

    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
    const db = getFirestore(app);

    function addItem(name, email, parent) {
        var box = document.createElement("div");
        box.classList.add("box");

        var nameContainer = document.createElement("span");
        nameContainer.classList.add("adminName");

        var nameTitle = document.createElement("span");
        nameTitle.innerHTML = "Name: ";
        nameTitle.classList.add("title");

        var nameContent = document.createElement("span");
        nameContent.innerHTML = name;
        nameContent.classList.add("adminNameContent")

        nameContainer.appendChild(nameTitle);
        nameContainer.appendChild(nameContent);

        var emailContainer = document.createElement("span");
        emailContainer.classList.add("adminEmail");

        var emailTitle = document.createElement("span");
        emailTitle.innerHTML = "Email-id: ";
        emailTitle.classList.add("title");

        var emailContent = document.createElement("span");
        emailContent.innerHTML = email;
        emailContent.classList.add("adminEmailContent")

        emailContainer.appendChild(emailTitle);
        emailContainer.appendChild(emailContent);

        box.appendChild(nameContainer);
        box.appendChild(emailContainer);

        parent.appendChild(box);
    }

    function addAllItems(adminsList) {
        adminsListContainer.innerHTML = "";
        adminsList.forEach(admin => {
            addItem(admin.name, admin.email, adminsListContainer);
        });
    }

    async function getAllData() {
        adminsListContainer.innerHTML = '<div class="loading"></div>';

        const querySnapshot = await getDocs(collection(db, "Administrators"));

        var administrators = [];

        querySnapshot.forEach(doc => {
            administrators.push(doc.data());
        });

        addAllItems(administrators);
    }

    window.onload = getAllData;

    document.getElementById("addAdminBtn").addEventListener("click", async () => {
        let namebox = document.getElementById("nameInp");
        let emailbox = document.getElementById("emailInp");

        const docRef = doc(db, "Administrators", emailbox.value);
        await setDoc(
            docRef, {
                name: namebox.value,
                email: emailbox.value
            }
        )
        .then(() => {
            alert("Successfully added");
            window.open("/admin/manage-administrators", "_parent");
        })
        .catch((error) => {
            alert("Err: "+error)
        });
    });

    document.getElementById("delaccbtn").addEventListener("click", async () => {
        let emailbox = document.getElementById("delAdminEmailInp");

        const docRef = doc(db, "Administrators", emailbox.value.toLowerCase());
        await deleteDoc(docRef)
        .then(() => {
            alert("Administrator deleted");
            window.open("/admin/manage-administrators", "_parent");
        })
        .catch((error) => {
            alert("Error: "+error);
        });
    });
</script>
<%- include("partials/footer") %>