<%- include("partials/header") %>
<div class="form">
    <input type="email" id="emailbox" class="form-inp" placeholder="Email"> <br>
    <input type="text" id="fnamebox" class="form-inp" placeholder="First Name"> <br>
    <input type="text" id="lnamebox" class="form-inp" placeholder="Last Name"> <br>
    <input type="password" id="passwordbox" class="form-inp" placeholder="Password"> <br>
    <input type="password" id="conpasswordbox" class="form-inp" placeholder="Confirm Password"> <br><br>
    <input type="checkbox" id="showpassword">
    <label for="showpassword">Show Password</label> <br><br>
    Already have account? <a href="/login">Login</a> <br><br>
    <button type="submit" class="signupbtn">Sign Up</button>
</div>
<script src="/JS/signup.min.js" type="module"></script>
<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.2/firebase-app.js";
    import { doc, getDoc, getFirestore} from "https://www.gstatic.com/firebasejs/9.8.2/firebase-firestore.js";

    const firebaseConfig = {
        apiKey: "AIzaSyBz1kOpHGbECrAVDQAQN217ycfbM0VjC20",
        authDomain: "english-quizzz.firebaseapp.com",
        projectId: "english-quizzz",
        storageBucket: "english-quizzz.appspot.com",
        messagingSenderId: "531636974687",
        appId: "1:531636974687:web:987866ab854ddf5f9597ea",
        measurementId: "G-0GCR06880E",
    };

    const app = initializeApp(firebaseConfig);

    const db = getFirestore();

    window.onload = async () => {
        if(localStorage.getItem("userloggedin") == "yes") {
            var docRef = doc(db, "UsersList", localStorage.getItem("email"));
            const docSnap = await getDoc(docRef);
            console.log(docSnap);

            if(!docSnap.exists()) {
                alert("You are a hacker a fake user!!");
                localStorage.clear();
                window.open("/", "_parent");
            }
        }
    };
</script>
<%- include("partials/footer-without-footer") %>